.MuiAppBar-root	{
    background-color:#2a2a2a;
}

.title {
    font-size: 4vmin;
    font-weight: bold;
    margin-bottom: 1vmin;
    margin-top: 0;
    opacity:0.95;
    font-family: "Montserrat";
}